.div_menu {
  height: 30px;
  background-color: black;
}

.menu {
  color: white;
}

div {
  background-color: silver;
}

.p-text {
  height : 300px;
  column-width : 300px;
  column-fill: balance;
  }

.footer {
  background-color: black;
  color: white;
  text-align: center;
}
